:root{
    --ylw: #DF984E;
    --wht: #F6F0E2;
    --brwn: #A2583A;
    --blu: #6A8AA4;
    --pnk: #E3B7B1;
    --drkylw: #c88846;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: var(--wht);
    font-family: "Andika", sans-serif;
    height: 100vh;
    width: 100vw;
    /* display: flex;
    flex-direction: column; */
}

/* Nav */

nav{
    background-color: var(--ylw);
    height: 80px;
    width: 100vw;
    display: flex;
    padding: 0 30px;
    position: sticky;
    top: 0;

}

.logo{
    height: 80px;
    margin-left: 1%;
}

.logo img{
    width: 80px;
    height: auto;
}

nav ul{
    margin-left: 30%;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color:var(--wht);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li a.hid{
    display: none;
}
a.na,a:hover{
    background: var(--brwn);
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: var(--wht);
    float: right;
    line-height: 80px;
    margin-right: 10%;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/* Banner */

.bannercont{
    width: 100vw; 
    height: 400px;
    margin-bottom: 2%;
}

.bannercont img{
    width: 100%; 
    max-height: 100%;
    object-fit: cover; 

}


/* Main */

.main{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main .bookgrade{
    margin-bottom: 10%;
    margin-right: 5%;

}

.main .bookgrade .books {
    display: flex;
    flex-direction: row;
}

.main .bookgrade h3{
    margin-bottom: 2%;
}

.bookgrade .books .bookcont {

    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin-left: 5%;

}

.bookgrade .books .bookcont .bookact {
    width: 250px; 
    height: 300px;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bookgrade .books .bookcont .bookact img{
    max-width: 250px; 
    max-height: 300px;
    object-fit: cover; 
    object-position: center;

}

/* Footer */

footer{
    background-color: var(--ylw);
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    /* margin-top: auto; */

}

.footcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* book.html */

#pdf-container {
    width: 800px;
    margin: auto;
}

#pdf-viewer {
    width: 100%;
    height: 850px;
    border: none;
}

/* about.html */

.wrapper{
    background-color: var(--wht);
    width: 580px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.4);
}

.wrapper h2{
    text-align: center;
}

.wrapper hr{
    width: 80%;
    margin: 10px auto;
}

.wrapper .members{
    display: flex;

}

.wrapper .members .team-mem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:8px;
}

.wrapper .members .team-mem img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.wrapper .members .team-mem h4{
    text-align: center;
    margin: 7px;
}




@media (max-width: 952px){
    label.logo{
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    nav{
        position: sticky;
        top:0;
    }
}

@media (max-width: 858px){
    .bannercont{
        height: 50%;
    }

    nav{
        width: 100vw;
    }

    .checkbtn{
        display: block;
        margin-left: 75%;

    }
    nav{
        position: sticky;
        top:0;
    }
    nav ul li a.hid{
        display: contents;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        margin-left: 0;
        background: var(--drkylw);
        top: 80px;
        left: -100%;
        flex-direction: column;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.na{
        background: none;
        color: var(--blu);
    }
    #check:checked ~ ul{
        left: 0;
    }

    .main{
        margin-top: 2%;
        max-width: 100vw;
        box-sizing: border-box;
        overflow: hidden;
    }

    .bookgrade{
        margin-left: 10%;
    }

    .books {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto; 
        width: auto; 
    }
    #pdf-container {
        max-width: 100vw;
        box-sizing: border-box;
        overflow: hidden;
        margin: auto;
    }
}

@media (max-width: 510px){
    #pdf-container {
        width: 510px;
        margin: auto;
    }
    .main{
        max-width: 100vw;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
    }

    .main .bookgrade{
        width: 400px;
    }

    .wrapper{
        width: 410px;
    }

    .wrapper .members {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }

}


